body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 400px;
    height: 300px;
}

.computer-score,
.player-score {
    display: inline;
}

.score-heading {
    display: inline;
}